.errorAlert {
  background-color: rgb(250, 122, 122);
  border: 1px solid #f00;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.userListError {
  max-width: 300px;
}

.listContainer {
  margin: 0;
  padding: 20px;
}
