#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root{
  --btn-color: #eaeaea;
  --text-color: #7e7e7e;
}

/* coontainer */
.grid-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
place-items: center;
height:40vh;
}

/* align btn */
.grid-align{
  grid-column: 2/3;
}




.p-lg{
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--text-color);
}